<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ partial "head.html" . }}

  <body>

    <section class="hero is-dark is-fullheight">
      <div class="hero-body">
        <div class="container">
          <a href="{{ .Site.BaseURL }}">
            <p class="title">
              <code>NoSuchElementException</code>
            </p>
            <p class="subtitle">
              Error 404: Page not found.
            </p>
          </a>
        </div>
      </div>
    </section>

  </body>

</html>
